# DEV - Folders
node_modules/
dist/
devdist/
.pnp.cjs
.pnp.loader.mjs

# DEV MISC - specific files
.env
.yarn
package-lock.json
yarn.lock
package-lock.json

# MAC - General
.DS_Store
.AppleDouble
.LSOverride

# MAC - Hidden Files Sstarting with Underscore
._*

# MISC - All
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent