@import url('./../variables.css');

:root {
  --headerDropShadowColor: hsla(var(--black-hsl), 1);
  --headerBorderColor: hsla(var(--black-hsl), 1);
  --solidHeaderBackgroundColor: hsla(var(--white-hsl), 1);
  --solidHeaderNavigationColor: hsla(var(--black-hsl), 1);
  --gradientHeaderBackgroundColor: hsla(var(--white-hsl), 1);
  --gradientHeaderNavigationColor: hsla(var(--black-hsl), 1);
}

.skip-to-content {
  position: absolute;
  top: -40px;
  left: 2px;
  background-color: black;
  color: white;
  padding: 2px;
  transition: all 0.3s;
}

.skip-to-content:focus {
  top: 2px;
}

.navbar-container {
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo-link {
  display: inline-block;
}

.navbar-logo-image {
  max-height: 50px;
}